{
    "port": 8080,
    "send": [
        "127.0.0.1:9000",
        "127.0.0.1:9001"
    ],
    "load": "/Users/Metascene/oara/patch-open-stage-control-oara.json",
    "osc-port": 8080,
    "recentSessions": [
        "/Users/Metascene/oara/patch-open-stage-control-oara.json"
    ],
    "last-dir": "/Users/Metascene"
}